{% extends "./base.html" %}
{% load static %}
    
{% block head %}
    
{% endblock %}


{% block body %}
<div class="container">
  <div class="encabezado">
    <h1>Identificadores</h1>
  <br>
  <h3>Para que tu amigo peludo siempre sea facil de encontrar</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Identificador simple</span>
            <img src="IMG/indent.jpg" alt="" class="img-item">
            <span data-clp = "5000"class="precio-item">5000</span>
            <button class="boton-item">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
    
{% endblock %}