{% extends "./base.html" %}
{% load static %}
    
{% block head %}
    
{% endblock %}


{% block body %}
  <div class="container">
    <div class="encabezado">
      <h1>Correas y arneses</h1>
    <br>
    <h3>Para un buen paseo con tu mascota</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="contenedor">
          <div class="contenedor-items">
            <div class="item">
              <span class="titulo-item">Arnes Acolchado</span>
              <img src="https://s3.us-east-1.amazonaws.com/laikapp/images_products/75449128_1_33.jpg" alt="" class="img-item">
              <span data-clp="25000"class="precio-item">25000</span>
              <button class="boton-item">Agregar al carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
    
{% endblock %}