{% extends "./base.html" %}
{% load static %}
    
{% block head %}
    
{% endblock %}


{% block body %}
  
  <div class="container">
    <div class="encabezado">
      <h1>Juguetes</h1>
      <br>
      <h3>Para que tu mascota no se aburra</h3>
    </div>

    <div class="row">
      <div class="col">
        <div class="contenedor">
          <div class="contenedor-items">
            <div class="item">
              <span class="titulo-item">Juguete chillón</span>
              <img src="https://laikapp.s3.amazonaws.com/dev_images_products/232dd59f246f72e4270349b572a268ea_1674050140.jpg" alt="" class="img-item">
              <span data-clp = "6000" class="precio-item">6000</span>
              <button class="boton-item">Agregar al carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
    
{% endblock %}
